<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<Playwright>
		<LaunchOptions>
			<Headless>false</Headless>
		</LaunchOptions>
	</Playwright>
	<TestRunParameters>
		<Parameter name="Environment" value="http://uitestingplayground.com/" />
		<Parameter name="Login" value="Viktor" />
		<Parameter name="Password" value="pwd" />
		<Parameter name="WrongPassword" value="pwd123" />
	</TestRunParameters>
</RunSettings>